MONGO_URL=
NEXT_PUBLIC_TAX_RATE=0.15

JWT_SECRET=EStEesMiSecrett123
NEXTAUTH_SECRET=EStEesMiSecrett123

GITHUB_ID=
GITHUB_SECRET=

#paypal
NEXT_PUBLIC_PAYPAL_CLIENT=
PAYPAL_SECRET=

PAYPAL_OAUTH_URL=https://api-m.sandbox.paypal.com/v1/oauth2/token
PAYPAL_ORDERS_URL=https://api.sandbox.paypal.com/v2/checkout/orders

#buyer
#sb-h2nfu19848495@personal.example.com